<p>day1 works!</p>
<h1 class="font-extrabold">Data Binding</h1>
<h3 class="font-medium">1-interpolation</h3>
<h3>{{title}}</h3>
<h3>{{Username}}</h3>
<h3 class="font-medium">2-Property Binding</h3>
<img [src]="url" alt="img">
<img [src]="imgurl" alt="angular ">
<h3 class="font-medium">Event Binding</h3>
<button (click)="increasecount()" class="border-2  bg-blue-500 hover:bg-green-500 m-2 p-2 rounded-2xl cursor-pointer"> increase</button>
<h3 class="p-2 m-2 font-black text-green-600">{{count}}</h3>


<h3 class="font-extrabold">Two way Binding</h3>
<input  class="block w-1/4 p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" type="text" [(ngModel)]="message" placeholder="type message">
<p  >{{message}}</p>

<!-- to use [(ngModel)] we must import FormsModule into our ts file becase ngmodel is not html thing and not any of ts varibale its angilar feature an angular not give by default to keep out app light weight so it form releted thing becasue we  use form  to send data from html to ts so we need to import FormsModule from @angular/forms  -->


<h3 class="font-bold">Directives</h3>
<h3>*ngif</h3>
<div *ngIf="showdiv" class="bg-amber-400 size-96">
   
</div>
 <button class="bg-green-500 p-2 m-4 rounded-2xl cursor-pointer  text-white hover:bg-blue-400" (click)="show()">Hide/Show</button>


 <div class="bg-green-400 size-56" *ngIf="num1==num2" ></div>
 <input class="border border-gray-300 rounded-md mt-2 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" [(ngModel)]="num1" placeholder="num1">
 <input  class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 ml-2" type="text" [(ngModel)]="num2" placeholder="num2">





 <!-- *ngfor   it only work with array  and it is similiar to for of loop in js  and we run *ngFor loop on that element which we wanna repeate like we want to create list we loop *ngFor on 1st li and dynamically we get that li for all array element -->




 <ul>
    <li *ngFor="let city of city">{{city}}</li>
 </ul>
 <select class="block w-1/4 bg-white border border-gray-300 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    <option *ngFor="let city of city">{{city}}</option>
 </select>


 <select >
    <option >Choose</option>
    <option *ngFor="let student of studentarray" [value]="student.id">{{student.name}}</option>
 </select>
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
          Sr.NO
        </th>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
          Roll No
        </th>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
          Name
        </th>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
          Age
        </th>
        <th class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
          Major
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stud of studentarray;let Sr_no=index">
        <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{Sr_no+1}}</td>
        <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{stud.id}}</td>
        <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{stud.name}}</td>
        <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{stud.age}}</td>
        <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">{{stud.major}}</td>
      </tr>
      
    </tbody>
  </table>
</div>

